<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据的校验</title>
    <script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
    <link href="../../static/css/data.css" rel="stylesheet">
</head>
<body>
<script type="text/javascript">
    function datacheck(){
        var textSour = $("#textSour").val();
        if (textSour == null || textSour == ''){
            alert("请输入数据");
        }
        var array = textSour.split("\n");
        var nums = [ ];
        var result = null;
        var  view = null;
        for (var i=0 ; i< array.length ; i++)
        {
            result = check(array[i]);
            nums.push(result); //以后迭代过程
            if (result == true){
                 view = "数据格式校验成功";
            }else {
                 view = "数据格式校验失败"
            }
           $(".bottomBar").append("<textarea readonly=\"readonly\" id=\"textMatchResult\">"+"原始数据："+array[i]+"   >>>>>>>>>>>>>>>   "+view+"</textarea>");
        }


    }
    function check(data){
        var array = data.split("");
        var nums = [ ];
        for (var i=0 ; i< array.length ; i++)
        {
            nums.push(parseInt(array[i]));
        }
        for(var i = nums.length-2; i >= 0; i = i - 2) {
            nums[i] = parseInt(nums[i] + nums[i]);
            nums[i] = parseInt(nums[i]/10 + nums[i]%10);
        }
        var sum = 0;
        for(var i=0;i<nums.length;i++) {
            sum += nums[i];
        }
        return sum % 10 == 0;
    }
</script>


<div class="body">
      <label class="title">请输入数据：</label>

      <div class="topBar">
          <textarea id="textSour" class="textSour" placeholder="在此输入待匹配文本"></textarea>
      </div>
      <div class="bt">
          <button class="c" name="but" onclick="datacheck()">数据校验</button>
      </div>
      <label class="title">校验结果：</label>
      <div class="bottomBar">
          <textarea readonly="readonly" id="textMatchResult" class="textMatchResult" style="display: none"></textarea>

          <!--<input class="textMatchResult" id="textMatchResult" name="textMatchResult"/>-->
      </div>

</div>
</body>
</html>