.topBar textarea {
    width: 998px;
    height: 200px;
}
.bt{
    margin-left:900px;
    width: 100px;
    height: 30px;
}
.c{
    width: 100%;
    height: 100%;
}
.bottomBar textarea{
    width: 998px;
    height: 35px;
    border:1px solid green;    /*边框*/
    text-align: center;        /*文字水平居中对齐*/
    line-height: 22px;        /*设置文字行距等于div的高度*/
    background-color: #b3b3b1;

}
.body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.header {
    height: 100px;
    background: url("../image/logo-b.png") no-repeat 10% center teal;
    background-size: 300px 4.5em;
    text-transform: lowercase;
}
.logo {
    float: right;
    padding-right: 40% ;
}
.logo h1 {
   /* padding: 50px 0 0 30px;*/
    font-size: 1.5em;
    color: #ffffff;

}
