.bg-white {
    background-color: white;
}

.bg-eeeeee {
    background-color: #eeeeee;
}

.c-333333 {
    color: #333333;
}

.c-555555 {
    color: #555555;
}

.c-777777 {
    color: #777777;
}

.c-888888 {
    color: #888888;
}

.c-53ace4 {
    color: #53ace4;
}

a.more {
    color: #53ace4;
}
a.more:link, a.more:visited {
    color: #53ace4;
}
a.more:hover, a.more:active {
    color: #ff9933;
}

.page-btm-btn-box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.clear-border-top {
    border-top-color: transparent !important;
}
.clear-border-top::before {
    border-top-color: transparent !important;
    background-color: transparent !important;
}

.clear-border-bottom {
    border-bottom-color: transparent !important;
}
.clear-border-bottom::after {
    border-bottom-color: transparent !important;
    background-color: transparent !important;
}

.add-border-top {
    position: relative;
}
.add-border-top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-top: 1px solid #d9d9d9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.add-border-bottom {
    position: relative;
}
.add-border-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 1px solid #d9d9d9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.add-border-left {
    position: relative;
}
.add-border-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid #d9d9d9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.weui-cell.ext-btm-border:before {
    left: 0;
}

.weui-cell.ext-cells-h {
    padding-left: 0;
    padding-right: 0;
}

.img-upload-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.img-upload-list > li {
    list-style: none;
    text-align: center;
    padding-left: 0;
    width: 25%;
    float: left;
    line-height: 1;
}
.img-upload-list > li .upload-item {
    display: inline-block;
    width: 4.0625em;
    height: 4.0625em;
    background-color: #e9e9e9;
    line-height: 4.0625em;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
}
.img-upload-list > li .upload-item.add-item .iconfont {
    font-size: 2em;
    color: #c1c1c1;
}
.img-upload-list > li .upload-item.img-item {
    -webkit-background-size: 2.125em 1.59375em;
    background-size: 2.125em 1.59375em;
    background-image: url("imgs/up_item_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.img-upload-list > li .upload-item.img-item > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
}

.weui-btn.oblong-btn,
.weui-btn.oblong-btn::after {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.weui-btn.weui-btn_primary-v24 {
    background-color: #53ace4;
    color: white;
}

.weui-btn.weui-btn_primary-v24:not(.weui-btn_disabled):active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #539ce4;
}

.weui-btn.weui-btn_plain-primary-v24 {
    color: #53ace4;
}

.weui-btn.weui-btn_plain-primary-v24::after {
    border: 1px solid #53ace4;
}

.weui-btn.weui-btn_plain-primary-v24:not(.weui-btn_plain-disabled):active {
    color: rgba(83, 172, 228, 0.6);
    /*border-color: rgba(83, 172, 228, 0.6);*/
}

.weui-btn.weui-btn_plain-default-v24 {
    /*border: 1px solid #dcdcdc;*/
    color: #606060;
}

.weui-btn.weui-btn_plain-default-v24::after {
    border: 1px solid #606060;
}

.weui-btn.weui-btn_filter-btn {
    padding-left: 0;
    padding-right: 0;
    min-width: 6em;
}

.weui-tab.llt-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.weui-tab.llt-tab .weui-navbar .weui-navbar__item {
    background-color: white;
}
.weui-tab.llt-tab .weui-navbar .weui-navbar__item::after {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border: none;
    -webkit-transform: none;
    transform: none;
    background-color: transparent;
    border: none;
    display: block;
}
.weui-tab.llt-tab .weui-navbar .weui-navbar__item.weui-bar__item--on {
    background-color: white;
}
.weui-tab.llt-tab .weui-navbar .weui-navbar__item.weui-bar__item--on::after {
    background-color: #53ace4;
}
.weui-tab.llt-tab .weui-tab__bd .weui-tab__bd-item {
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.details-info-box {
    padding: 1em 10px;
}
.details-info-box > p {
    margin-left: 4em;
    text-indent: -4em;
}
.details-info-box > p > strong:first-child {
    font-weight: normal;
    margin-right: 0.5em;
}
.details-info-box > p.indent-0 {
    margin-left: 0;
    text-indent: 0;
}

.order-panel .order-number {
    color: #868686;
    font-size: 0.8125em;
}
.order-panel .order-status {
    color: #53ace4;
    font-size: 0.8125em;
}
.order-panel .order-status.status-black {
    color: #555555;
}
.order-panel .order-info {
    font-size: 0.8125em;
}
.order-panel .order-ft__btn-box {
    padding: 0.625em;
    text-align: right;
}
.order-panel .order-ft__btn-box .weui-btn.weui-btn_mini {
    width: 5.25em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.order-cot-box {
    padding: 0.625em;
}
.order-cot-box .order-pd-img-box {
    width: 5em;
    min-height: 5em;
    margin-right: 0.625em;
    line-height: 0;
}
.order-cot-box .order-pd-img-box .order-pd-img {
    width: 5em;
    height: 5em;
    vertical-align: middle;
    background-color: #e5e5e5;
}
.order-cot-box .order-pd-img-box .order-pd-img img {
    vertical-align: middle;
    width: 5em;
    height: 5em;
}
.order-cot-box .order-pd-info-box .order-pd-name {
    color: #555555;
    font-size: 1em;
    font-weight: normal;
}
.order-cot-box .order-pd-info-box .order-pd-time {
    float: right;
    font-size: 0.6875em;
    color: #868686;
    font-weight: normal;
}
.order-cot-box .order-pd-info-box .order-pd-txt {
    font-size: 0.8125em;
    color: #868686;
}
.order-cot-box .order-pd-info-box .order-pd-price {
    font-weight: normal;
    font-style: normal;
    color: #53ace4;
    font-size: 1.42em;
}

.weui-cell > .order-cot-box {
    margin: -10px -15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

/** search bar start */
.weui-search-bar {
    background-color: #53ace4;
}

.weui-search-bar__form, .weui-search-bar__form::after, .weui-search-bar__label {
    border-radius: 10em;
}

.weui-search-bar__label {
    text-align: left;
}

.weui-search-bar__cancel-btn {
    color: #fff;
}

/** end */
.nav-filter {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: white;
}
.nav-filter::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #d9d9d9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.nav-filter .nav-filter-item {
    position: relative;
    text-align: center;
    list-style: none;
    padding: 0.875em  0;
    line-height: 1;
}
.nav-filter .nav-filter-item > a {
    display: block;
    width: 100%;
    margin: -0.875em 0;
    padding: 0.875em 0;
}
.nav-filter .nav-filter-item > a > span {
    font-size: 1em;
    color: #333;
}
.nav-filter .nav-filter-item > a > span.iconfont {
    color: #53ace4;
    font-size: 0.625em;
}
.nav-filter .nav-filter-item.active > a > span.iconfont, .nav-filter .nav-filter-item.expand > a > span.iconfont {
    transform: rotate(180deg);
    position: relative;
    top: -2px;
}
.nav-filter .nav-filter-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #d9d9d9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.nav-filter .nav-filter-item:first-child:before {
    content: none;
}

.filter-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.filter-mask.active {
    display: block;
}

.filter-form {
    background-color: white;
    display: none;
}
.filter-form.active {
    display: block;
}
.filter-form .filter-checked-item {
    position: relative;
}
.filter-form .filter-checked-item .checked-input {
    position: absolute;
    left: -9999px;
}
.filter-form .filter-checked-item .checked-input:checked + .weui-btn_filter-btn {
    color: #53ace4;
    border-color: #53ace4;
}
.filter-form .filter-checked-item .checked-input:checked + .weui-btn_filter-btn:after {
    border-color: #53ace4;
}
.filter-form .weui-cells_radio .weui-check:checked + .weui-icon-checked:before,
.filter-form .weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
    color: #53ace4;
}

.user-photo-box {
    display: inline-block;
    width: 4.0625em;
    height: 4.0625em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    background-color: #f5f5f5;
    line-height: 0;
    overflow: hidden;
}
.user-photo-box img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.user-center-icon {
    display: inline-block;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    min-width: 1em;
    min-height: 1em;
    line-height: 0;
}
.user-center-icon.icon-1 {
    background-image: url("imgs/u_c_icon1.png");
}
.user-center-icon.icon-2 {
    background-image: url("imgs/u_c_icon2.png");
}
.user-center-icon.icon-3 {
    background-image: url("imgs/u_c_icon3.png");
}
.user-center-icon.icon-4 {
    background-image: url("imgs/u_c_icon4.png");
}

.pd-photo-wrap {
    height: 100.8vw;
    max-height: 23.625em;
    position: relative;
    background-color: white;
}
.pd-photo-wrap .pd-photo-inner-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
}
.pd-photo-wrap .swiper-container {
    height: 100%;
    width: 100%;
}
.pd-photo-wrap .swiper-container .swiper-slide {
    display: table;
}
.pd-photo-wrap .swiper-container .swiper-slide > a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.pd-photo-wrap .swiper-container .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    line-height: 0;
}
.pd-photo-wrap .swiper-pagination .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
}
.pd-photo-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #53ace4;
}

.filter-choose-list-box {
    position: relative;
    height: 100vw;
}
.filter-choose-list-box .filter-list-box {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    position: relative;
}

.filter-list {
    margin: 0;
    padding: 0;
}
.filter-list > li {
    padding: 10px 15px;
    text-align: left;
    position: relative;
    list-style: none;
    line-height: 1;
    word-break: break-all;
}
.filter-list > li > a,
.filter-list > li > label {
    display: block;
    margin: -10px -15px;
    padding: 10px 15px;
    color: #333333;
}
.filter-list > li > label.active {
    background-color: #E5E5E5;
}
.filter-list > li::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #d9d9d9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.filter-list > li > a::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #d9d9d9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.filter-list > li.active > a::before {
    content: none;
}

.weui-cells_radio .weui-icon-checked.xt-custom:before {
    font-family: "iconfont";
}

.weui-cells_radio .weui-check:checked + .weui-icon-checked.xt-custom:before {
    content: '\e731';
    color: #53ace4;
}

.llt-column-box .llt-column-label {
    position: relative;
    height: 20px;
    line-height: 20px;
}
.llt-column-box .llt-column-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background-color: #53ace4;
}
.llt-column-box .llt-column-label .llt-column-label-name {
    display: inline-block;
    height: 100%;
    font-weight: normal;
    line-height: inherit;
}
.llt-column-box .llt-column-cot-box {
    padding: 0.625em auto;
}
.llt-column-box .llt-column-txt-default {
    font-size: 0.8125em;
}
.weui-loadmore.is-hidden {
    display: none;
}